<% content_for :breadcrumbs do %>
  <li><%= link_to 'Actors', project_actors_path(@project) %></li>
  <li>Edit <%= @actor.name %></li>
<% end %>

<% content_for :header do %>
  <h1>Edit <%= @actor.name %></h1>
<% end %>

<% content_for :content do %>
  <%= render partial: 'form' %>
<% end %>