<% content_for :breadcrumbs do %>
  <li><%= link_to 'Actors', project_actors_path(@project) %></li>
  <li>New</li>
<% end %>

<% content_for :header do %>
  <h1>Add an Actor</h1>
<% end %>

<% content_for :content do %>
  <%= render partial: 'form' %>
<% end %>