<% content_for :breadcrumbs do %>
  <li>Scenes</li>
<% end %>

<% content_for :header do %>
  <h1>Scenes</h1>
  <%= link_to '+', new_project_scene_path(@project) %>
<% end %>

<% content_for :content do %>
  <ul>
    <% @project.scenes.each do |scene| %>
    <li>
      <%= link_to scene.name, project_scene_path(@project, scene) %>
      <%= link_to 'Edit', edit_project_scene_path(@project, scene) %>
      <%= link_to 'Delete', project_scene_path(@project, scene), method: 'delete' %>
    </li>
    <% end %>
  </ul>
<% end %>