<% content_for :breadcrumbs do %>
  <li><%= link_to 'Scenes', project_scenes_path(@project) %></li>
  <li>New Scene</li>
<% end %>

<% content_for :header do %>
  <h1>New Scene</h1>
<% end %>

<% content_for :content do %>
  <%= render partial: 'form' %>
<% end %>