<% content_for :breadcrumbs do %>
  <li>Authors</li>
<% end %>

<% content_for :header do %>
  <h1>Authors</h1>
  <%= link_to '+', new_user_path if admin_user? %>
<% end %>

<% content_for :content do %>
  <ul>
    <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <% if admin_user? %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Delete', user, method: 'delete' %>
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>