<% content_for :breadcrumbs do %>
  <li><%= link_to 'Project', projects_path %></li>
  <li>Edit <%= @project.name %></li>
<% end %>

<h1>Edit <%= @project.name %></h1>
<%= render partial: 'form', locals: { cancel_path: @project } %>