<% content_for :breadcrumbs do %>
  <li>Projects</li>
<% end %>

<% content_for :header do %>
  <h1>Projects</h1>
  <%= link_to "Add a project", new_project_path %>
<% end %>

<% content_for :content do %>
  <ul>
    <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project %>
      <%= link_to 'Edit', edit_project_path(project) %>
      <%= link_to 'Delete', project, method: 'delete' %>
    </li>
    <% end %>
  </ul>
<% end %>