<% content_for :breadcrumbs do %>
  <li><%= link_to 'Assets', project_assets_path(@project) %></li>
  <li>New</li>
<% end %>

<% content_for :header do %>
  <h1>Add Asset</h1>
<% end %>

<% content_for :content do %>
  <%= render partial: 'form' %>
<% end %>