.navbar {
  background-color: #eee;
  height: 50px;
  line-height: 50px;
  list-style: none;
  margin: 0;
  padding: 0 20px;

  li {
    float: left;
    height: 100%;
    position: relative;

    &:hover ul {
      display: block;
    }
  }
}

.user-menu {
  float: right;
}

.app-menu {
  ul {
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 125px;

    li {
      border-bottom: 1px solid #ccc;
      float: none;
      height: 25px;
      line-height: 25px;
    }
  }

  a {
    display: block;
    height: 100%;
    padding: 0 15px;
  }
  
  a.active,
  .active a {
    background-color: #fefefe;
  }

  .back {
    margin-right: 10px;
    
    a {
      background-color: #fff;
      margin: 10px 0;
      height: 30px;
      line-height: 30px;
    }
  }
}


.main {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 50px auto;
  max-width: 650px;
  overflow: hidden;
  
  .breadcrumbs {
    background-color: #ccc;
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    
    li {
      display: inline;
    }
  }
  
  .header {
    background-color: #eee;
    padding: 10px 15px;

    h1 {
      display: inline;
      margin: 0;
    }
  }

  .content {
    padding: 30px 15px;
  }
}