.navbar {
  background-color: #eee;
  list-style: none;
  margin: 0;
  padding: 0 20px;
  overflow: hidden;

  li {
    float: left;
  }

  a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
  }
  
  .active a {
    background-color: #fefefe;
  }

  .back {
    margin-right: 10px;
    
    a {
      background-color: #fff;
      margin: 10px 0;
      height: 30px;
      line-height: 30px;
    }
  }
}

.main {
  margin: 50px auto;
  max-width: 650px;
}