<% content_for :navbar do %>
  <li><%= link_to 'Projects', projects_path, class: navbar_active('projects') %></li>
  <li><%= link_to 'Authors', users_path, class: navbar_active('users') %></li>
<% end %>

<%= render template: "layouts/editor" %>